
a{
  text-decoration: none;
}



.navbar-collapse {
  
   flex-grow: 0; 
 
}

.row{
  --bs-gutter-x: 0rem;
}

.tituloBs{
  font-size: 2rem;
}

.textoBs{
  font-weight: 2rem;
}

.fondoColor{
  background-color: rgb(30, 80, 110);
}

.panMen{
padding-left: 2rem;
}

/* .padingPre{
  padding-bottom:30rem ;
} */

.imgFilt img{
  filter: brightness(50%);
}

.colorBtn{
background-color: rgb(150, 201, 62);
}

.fontSize{
font-size: .8rem;
}

.tamañoBtn{
  width: 25rem;
}


.bg{
  background-color:  rgb(204, 229, 255) !important;
}

.form-control:disabled {
   background-color:  rgb(204, 229, 255) !important; 
  opacity: 1;
}

.footer{
  position:fixed;
  left:0px;
  bottom:0px;

  width:100%;
}